version: '3.8'

services:
  bot:
    build: .
    container_name: anachak-kasekor-bot
    restart: unless-stopped
    env_file:
      - .env
    volumes:
      - ./img:/app/img
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
